APP_NAME=Semampai
APP_URL=http://localhost/semampai
APP_DEBUG=true
# Kunci acak untuk tanda tangan URL (unduh bahan ajar / Google Docs Viewer).
# Contoh: php -r "echo bin2hex(random_bytes(32)), PHP_EOL;"
APP_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=semampai
DB_USER=root
DB_PASS=
